{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Django website that stores, manage and tracks volunteers with any given tasks, and filters volunteers according to a campaign, or with any given date, time and place.">
    <meta name="keywords" content="Track Monitor Manage Stores Coordinate Volunteers Website Portal">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/touch-icon-iphone-144.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/touch-icon-iphone-144.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/touch-icon-iphone-144.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/touch-icon-iphone-144.png' %}">
    <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block styling %}
        <style>
            body {
                padding-top: 70px;
                padding-bottom: 20px;
            }
        </style>
        <!--<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'css/main.css' %}">-->
    {% endblock styling %}

    <!--<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>-->
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-sm" role="navigation">
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="navbar-header">
            <p><img src="{% static 'icons/touch-icon-iphone-144.png' %}" />&nbsp;&nbsp;&nbsp;&nbsp;<a class="navbar-brand" href="/">Volunteer Portal</a></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'welcome' %}">WelcomePage</a>&nbsp;&nbsp;</li>
          {% if user.is_authenticated %}
              <li><a href="{% url 'campaign_home' %}">CampaignPage</a>&nbsp;&nbsp;</li>
              <li><a href="{% url 'settings_home' %}">Settings</a>&nbsp;&nbsp;</li>
              <li><a href="{% url 'logout' %}">Logout</a>&nbsp;&nbsp;</li>
          {% else %}
              <li><a href="{% url 'signup' %}">Signup</a>&nbsp;&nbsp;</li>
              <li><a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;</li>
          {% endif %}
        </ul>
    </div>
</nav>

<div class="container p-3 my-3 bg-dark text-white">

    {% block content %}
    {% endblock %}

</div> <!-- /container -->

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->


<!-- script for notify volunteer button  -->
<!-- <script src="{% static 'js/main.js' %}"></script> -->

<!--<script src="{% static 'js/main.js' %}"></script>-->
</body>
</html>
