{% extends "base.html" %}

{% block title %}
    Home: {{ user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-primary">Welcome, {{ user.username }}</h2>

    <div class="row">
        <div class="col-md-8">
            <h3>Create Campaign</h3>
            <form id="campaign-form" class="form-campaign" action="{% url 'campaign_home' %}" method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Create Campaign</button>
            </form>
        </div>

        <div class="col-md-8">
            <h3>Campaign List</h3>
            <table class="table table-dark">
              <tr>
                <th>Name</th>
                <th>Date Created</th>
                <th>Delete</th>
                <th>View</th>
              </tr>
            {% for campaign in campaign_list%}
              <tr>
                    <td>{{ campaign.name }}</td>
                    <td>{{ campaign.date_created }}</td>
                    <td><a href="#" onclick="Confirmation_dialog()">Delete</a></td>
                    <td><a href="{% url 'volunteer_home' campaign.id %}">View</a></td>
                  <script>
                    function Confirmation_dialog(){
                      var r = confirm("Delete Campaign?");
                      if (r == true) {
                        window.location.href = '/home/campaign_delete/' + '{{ campaign.id }}';
                      } else {
                        window.location.href = '/home/campaign';
                      }
                    }
                  </script>
              </tr>            
            {% endfor %}
            </table>
        </div>

    </div>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: darkred;
    }
    </style>
{% endblock %}
